
body {
  font-size: 2em;
  background-color: khaki;
}
h1 {
  margin:auto;
  background-color: rgb(230, 131, 255);
  font-size: 3vw;
  display:block; 
  height: auto;
}
#ivan {
  background-size: cover;
  background-color: rgb(255, 168, 55);
  font-size: 3vw;
  display:block; 
  height: auto;
}
#imagenivan {
  max-width: 14.8%; 
  display:block; 
  height: auto;
  float: right;
}
#imagencarme {
  max-width: 13.7%; 
  display:block; 
  height: auto;
  float: right;
}
#vivi {
  background-size: cover;
  background-color: rgb(255, 113, 113);
  font-size: 3vw;
  border-radius:10px 30px; /* para cambiar la forma del borde */
  display:block; 
  height: auto;
  font-family: Arial, Helvetica, sans-serif;  /* para cambiar el tipo de letra */
  padding: 1px;  /* para que todo no quede pegado al borde */
}
#imagenvivi {
  max-width: 15%; 
  display:block; 
  height: auto;
  float: right;
  border: 1px solid white;  /* para cambiar ponerle un borde con color a la imagen */
  margin: 4%;  /* para que la imagen no quede muy pegada a todo */
}

