body {
  font-size: 2em;
        background-color: #070707;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%23565558' fill-opacity='0.29' fill-rule='evenodd'/%3E%3C/svg%3E");
}
#hed {
        padding-bottom: 6vw;
}
    
#imghed {
        max-width: 8%;
        display: block;
        height: auto;
        float: left;
        border: 2px solid white;
        margin-left: 2%;
        border-radius: 90px;
}
    
#imghed2 {
        max-width: 8%;
        display: block;
        height: auto;
        float: right;
        border: 2px solid white;
        margin-right: 2%;
        border-radius: 90px;
}
    
h1 {
  margin: auto;
    padding-top: 1vw;
    position: relative;
    background-color: transparent;
    font-size: 2vw;
    font-family: 'AudioWide';
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    text-align: center;
    display: block;
    height: auto;
}
#ivan {
  background-size: cover;
  background-color: rgb(255, 168, 55);
  font-size: 3vw;
  display:block; 
  height: auto;
  font-family: 'Indie Flower', cursive;
}
#imagenivan {
  max-width: 25.1%; 
  display:block; 
  height: auto;
  float: right;
}
#imagencarme {
  max-width: 17.2%; 
  display:block; 
  height: auto;
  float: right;
}
#vivi {
  background-size: cover;
  background-color: rgb(255, 113, 113);
  font-size: 3vw;
  border-radius:10px 30px; /* para cambiar la forma del borde */
  display:block; 
  height: auto;
  font-family: Arial, Helvetica, sans-serif;  /* para cambiar el tipo de letra */
  padding: 1px;  /* para que todo no quede pegado al borde */
  margin-block: 2%;
}
#imagenvivi {
  max-width: 15%; 
  display:block; 
  height: auto;
  float: right;
  border: 1px solid white;  /* para cambiar ponerle un borde con color a la imagen */
  margin: 4%;  /* para que la imagen no quede muy pegada a todo */
}
#Cin {
  background-size: cover;
  background-color: rgb(85, 46, 135);
  font-size: 3vw;
  border-radius:10px 30px; /* para cambiar la forma del borde */
  display:block; 
  height: auto;
  font-family: Arial, Helvetica, sans-serif;  /* para cambiar el tipo de letra */
  padding: 1px;  /* para que todo no quede pegado al borde */
}
#imagencin {
  max-width: 15%; 
  display:block; 
  height: auto;
  float: right;
  border: 1px solid white;  /* para cambiar ponerle un borde con color a la imagen */
  margin: 4%;  /* para que la imagen no quede muy pegada a todo */
}
#euge{
  background-size: cover;
  background-color: #a7e812;
  font-size: 3vw;
  border-radius: 10px 30px;
  display: block;
  height: auto;
  font-family: Times New Roman;
  padding: 1px; 
  margin-block: 2%;
}
#imageneuge{
 max-width:14.8%;
 display: block;
 height: auto;
 float: right;
 border: 1px solid white;
 margin-right: 2%;
 border-radius: 10px;
}

#fede{
  /*ESTILOS DIV CONTENEDOR*/
  background-size: cover;
  background-color: rgb(255, 168, 55);
  border-radius: 20px;
  font-size: 3vw;
  display:block; 
  height: auto;
  font-family: 'Indie Flower', cursive;
  box-shadow: 1px 3px rgba(0,0,0,0.3);  
}

#imagenfede{
  /*ESTILOS IMAGEN*/
  max-width:14.8%;
  display: block;
  height: 100px;
  float: right;
  border: 1px solid white;
  margin-right: 2%;
  margin-top: 10px;
  border-radius: 10px;
}

#contactofede li{
  /* ESTILOS LISTA DE CONTACTO */
  display: inline-block;
  list-style-type: none;
  padding: 10px 40px;
}

#contactofede a{
  /* DARLE ESTILOS A LOS ENLACES DE CONTACTO */
  text-decoration: none;
  color: black;
}
#contactofede a:hover{
  /* DARLE ESTILOS A LOS ENLACES CUANDO EL PUNTERO PASA SOBRE ELLOS */
  color: white;
}
#contactofede img{
  /* ESTABLECIENDO UNA ALTURA Y UN ANCHO PARA LOS ICONOS DE REDES */
  height: 15px;
  width: 15px;
}
#dami {
    background-size: cover;
    background: url("https://i.ibb.co/2d7pn9b/galactic.png") no-repeat center center/cover;
    display: block;
    height: auto;
    padding: 1px;
    margin-block: 2%;
    border-radius: 10px 30px;
}

#dmtext {
    color: rgb(255, 255, 255);
    font-size: 2.2vw;
    font-family: 'AudioWide';
}

#imgdami {
    max-width: 12%;
    display: block;
    height: auto;
    float: right;
    border: 2px solid white;
    margin-right: 2%;
    border-radius: 90px;
}

#seba {
  background-size: cover;
  background-color: blue;
  font-size: 10px;
  border-radius:20px 20px;
  border-size: 5px;
  display:block; 
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px; 
}
#imgseba {
  width: 11%; 
  display:block;
  border-radius:20px;
  height: auto;
  float: right;
  border: 1px solid white; 
  margin: 5em;
  margin-top:-5em;
}

#caro {
  background-size: cover;
  background-color: rgb( 222, 168, 186 );
  font-size: 3vw;
  border-radius:10px 30px;
  display:block; 
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px; 
  margin-block: 2%;
}
#imgcaro{
  width:11%; 
  display:block;
  height: auto;
  float: right;
  border: 1px solid white; 
  margin: 0px 20px;
  border-radius: 5%;
}

#cari {
  background-size: cover;
  background-color: rgb(171, 235, 198);
  border-radius: 20px;
  font-size: 2.5vw;
  display:block; 
  height: auto;
  font-family: 'Oswald', sans-serif;
  padding: 1px;
  margin-block: 2%;
  box-shadow: 1px 3px rgba(0,0,0,0.3);  
}
#imagencari {
  max-width:12%; 
  display:block;
  height: auto;
  float: right;
  border: 1px solid gray; 
  border-radius: 8px;
  padding: 5px;
  margin: 2%;
}
#imagencari:hover {
  transform: scaleX(-1);
}
